---
pageable: true
per_page: 10
---

.about-me
  = partial 'about'

-#= partial 'personal_links'  

- blog.articles.each_with_index do |article, i| 
  .page-header
    %h2
      = link_to article.title, article
      %small= article.date.strftime('%Y-%m-%d') 
  = article.summary(300) # or article.body
  %a.btn.btn-default.btn-small(href="#{url_for article}") 더 읽기


